/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * BL54L15u Hygrometer - Custom nRF54L15 humidity sensor board
 *
 * Hardware:
 *   - nRF54L15 SoC (application core)
 *   - SHT45 humidity/temperature sensor on I2C21 (SDA=P1.14, SCL=P1.04)
 *   - BME688 + STCC4 (optional) on I2C20 (SDA=P1.06, SCL=P1.08)
 *   - nPM2100 PMIC on I2C21
 *   - No UART - debug via RTT
 *   - Internal RRAM only (no external flash)
 */

/dts-v1/;

#include <nordic/nrf54l15_cpuapp.dtsi>
#include "bl54l15u_hygrometer-pinctrl.dtsi"
#include <dt-bindings/regulator/npm2100.h>

/ {
	model = "BL54L15u Hygrometer";
	compatible = "soily,bl54l15u-hygrometer";

	chosen {
		zephyr,code-partition = &slot0_partition;
		zephyr,sram = &cpuapp_sram;
		zephyr,flash-controller = &rram_controller;
		zephyr,flash = &cpuapp_rram;
		zephyr,ieee802154 = &ieee802154;
	};

	/* Red LED on P1.05 */
	leds: leds {
		compatible = "gpio-leds";
		red_led: red_led {
			gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
			label = "Red LED";
		};
	};

	aliases {
		led0 = &red_led;
		watchdog0 = &wdt31;
	};
};

/* Use full RRAM and SRAM - no FLPR core reservation */
&cpuapp_rram {
	reg = <0x0 DT_SIZE_K(1524)>;
};

&cpuapp_sram {
	status = "okay";
	reg = <0x20000000 DT_SIZE_K(256)>;
	ranges = <0x0 0x20000000 0x40000>;
};

/* No external 32kHz crystal - use internal RC oscillator */
&lfxo {
	status = "disabled";
};

&clock {
	status = "okay";
};

/* BL54L15μ module contains a 32 MHz crystal (±15 ppm at room temperature)
 * but customer MUST set appropriate internal nRF54L15 capacitance from 4 pF to 17 pF in 0.25p increments */
&hfxo {
	load-capacitors = "internal";
	load-capacitance-femtofarad = <15000>;
};

/* Power regulators */
&regulators {
	status = "okay";
};

&vregmain {
	status = "okay";
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

/* Clock control */
&clock {
	status = "okay";
};

/* Radio for Thread/BLE */
&radio {
	status = "okay";
};

/* Global Real-Time Counter */
&grtc {
	owned-channels = <0 1 2 3 4 5 6 7 8 9 10 11>;
	child-owned-channels = <3 4 7 8 9 10 11>;
	status = "okay";
};

/* I2C21 for SHT45 humidity/temperature sensor and nPM2100 PMIC */
&i2c21 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;  /* 100kHz - more reliable without external pull-ups */
	pinctrl-0 = <&i2c21_default>;
	pinctrl-1 = <&i2c21_sleep>;
	pinctrl-names = "default", "sleep";

	sht45: sht4x@44 {
		compatible = "sensirion,sht4x";
		reg = <0x44>;
		repeatability = <2>;
		status = "okay";
	};

	npm2100_pmic: pmic@74 {
		compatible = "nordic,npm2100";
		reg = <0x74>;

		regulators {
			compatible = "nordic,npm2100-regulator";

			npm2100_ldsw: LDOSW {};
		};

		npm2100_wdt: watchdog {
			compatible = "nordic,npm2100-wdt";
		};

		npm2100_vbat: vbat {
			compatible = "nordic,npm2100-vbat";
		};
	};
};

/* I2C20 for optional BME688 pressure sensor and STCC4 CO2 sensor */
&i2c20 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c20_default>;
	pinctrl-1 = <&i2c20_sleep>;
	pinctrl-names = "default", "sleep";

	bme688: bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
		status = "okay";
	};
};

/* IEEE 802.15.4 for Thread/Matter */
&ieee802154 {
	status = "okay";
};

/* Bluetooth */
&bt_hci_controller {
	status = "okay";
};

/* GPIO ports */
&gpio1 {
	status = "okay";
};

/* GPIOTE instances for GPIO interrupts/events */
&gpiote20 {
	status = "okay";
};

&gpiote30 {
	status = "okay";
};

/* Temperature sensor (required for radio temperature compensation) */
&temp {
	status = "okay";
};

/* Include default memory partition configuration */
#include <nordic/nrf54l15_partition.dtsi>
