---
Checks: >
  -*,
  bugprone-argument-comment,
  bugprone-sizeof-expression,
  bugprone-suspicious-missing-comma,
  bugprone-too-small-loop-variable,
  bugprone-unused-return-value,
  misc-unused-using-decls,
  modernize-use-bool-literals,
  modernize-use-nullptr,
  performance-for-range-copy,
  performance-unnecessary-value-param,
  readability-else-after-return,
  readability-inconsistent-declaration-parameter-name,
  readability-redundant-control-flow
WarningsAsErrors: '*'
HeaderFilterRegex: 'SW/(?!west/)'
