mainmenu "nRF54 Soil Moisture Sensor Configuration"

config APP_TEMPERATURE_MONITORING
	bool "Enable temperature monitoring"
	default y
	select SENSOR
	help
	  Enable internal die temperature sensor monitoring.

config APP_MEASUREMENT_INTERVAL_SEC
	int "Measurement interval (seconds)"
	default 300
	help
	  Time between periodic measurements. Device sleeps between readings.


if OPENTHREAD

choice OPENTHREAD_NORDIC_LIBRARY_CONFIGURATION
	default OPENTHREAD_NORDIC_LIBRARY_MTD
endchoice

choice OPENTHREAD_DEVICE_TYPE
	default OPENTHREAD_MTD
endchoice

endif # OPENTHREAD

source "${ZEPHYR_CONNECTEDHOMEIP_MODULE_DIR}/config/nrfconnect/chip-module/Kconfig.features"
source "${ZEPHYR_CONNECTEDHOMEIP_MODULE_DIR}/config/nrfconnect/chip-module/Kconfig.defaults"
source "Kconfig.zephyr"
