/ {
	/* Retained RAM for state across System OFF */
	sram@2003f000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x2003f000 0x1000>;
		zephyr,memory-region = "RetainedMem";
		status = "okay";

		retainedmem {
			compatible = "zephyr,retained-ram";
			status = "okay";
			#address-cells = <1>;
			#size-cells = <1>;

			retention: retention@0 {
				compatible = "zephyr,retention";
				status = "okay";
				reg = <0x0 0x100>;
			};
		};
	};

	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};
};

/* Enable internal temperature sensor */
&temp {
	status = "okay";
};

/* Keep UART20 for console (it's the default console) */
&uart20 {
	status = "okay";
	current-speed = <115200>;
};

/* Disable unused peripherals to save power */
&uart21 {
	status = "disabled";
};

&uart22 {
	status = "disabled";
};

&uart30 {
	status = "disabled";
};

// restore full RRAM and SRAM space - by default some parts are dedicated to FLRP
&cpuapp_rram {
	reg = <0x0 DT_SIZE_K(1524)>;
};

&cpuapp_sram {
	reg = <0x20000000 DT_SIZE_K(256)>;
	ranges = <0x0 0x20000000  0x40000>;
};

&mx25r64 {
	status = "okay";
};
