mainmenu "Soil Sensor"

config SOIL_CAP_DRY_FF
	int "Dry soil capacitance (fF)"
	default 5000
	help
	  Capacitance reading in dry soil, in femtofarad.
	  For example, 5000 means 5.0 pF.

config SOIL_CAP_WET_FF
	int "Saturated soil capacitance (fF)"
	default 124500
	help
	  Capacitance reading in saturated soil, in femtofarad.
	  For example, 124500 means 124.5 pF.

source "Kconfig.zephyr"
